* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

nav {padding: 2px;}